<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jmerchan.games.pooprain" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Juego PoopRain</name>
    <description>
        Juego para  Módulo 4 - Sensores, Desarrolla tu juego con Phaser.
    </description>
    <author email="jeancmo@gmail.com.com" href="">
        Jorge Merchan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">        
        <icon src="platforms/android/res/mipmap-mdpi/pooprain.png" platform="android" qualifier="mdpi" />
        <icon src="platforms/android/res/mipmap-hdpi/pooprain.png" platform="android" qualifier="hdpi" />
        <icon src="platforms/android/res/mipmap-xhdpi/pooprain.png" platform="android" qualifier="xhdpi" />
        <icon src="platforms/android/res/mipmap-xxhdpi/pooprain.png" platform="android" qualifier="xxhdpi" />
        <icon src="platforms/android/res/mipmap-xxxhdpi/pooprain.png" platform="android" qualifier="xxxhdpi" />
    </platform>
</widget>
